@import '../animation.css';

.calculator {
  /* layout */
  position: relative;
  width: 300px;
  height: 500px;
  perspective: 1100px;
}

.calculator .calculator__panel-top {
  /* layout */
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 300px;
  height: 500px;
  padding: 10px;
  /* style */
  border-radius: 5px;
  transform-style: preserve-3d;
  animation: scalerKeyframes 8s ease-in-out infinite alternate;
  transform: rotateY(calc(1deg * (-30 + var(--scaler) * 60/100)));
  background-image: linear-gradient(90deg, rgba(117, 117, 117, 0.2) 0%, rgba(219, 219, 219, .8) calc(1% * var(--scaler)), rgba(117, 117, 117, 0.2) 100%), url('/brushed-metal-600x428.jpg');
  box-shadow: calc(1px * (50 - var(--scaler) * 1)) 1cqmax 20px 10px rgba(0, 0, 0, 0.1);
}

.calculator .calculator__panel-left {
  /* layout */
  width: 40px;
  height: 500px;
  position: absolute;
  left: -20px;
  top: 0;
  /* style */
  transform: translateZ(-20px) rotateY(-90deg);
  background-color: var(--side-panel-color, gray);
}

.calculator .calculator__panel-right {
  /* layout */
  width: 40px;
  height: 500px;
  position: absolute;
  right: -20px;
  top: 0;
  transform: translateZ(-20px) rotateY(90deg);
  background-color: var(--side-panel-color, gray);
}